
/*
 * -------------------------------------------------
 *  IL1MIP-RsCh-PIPELINE Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */
 
// Global default parameters.
params {

    mainDir = "/home/path/to/running/location/"

    // Run information.
    runID = "<NAME>"
    runDATE = new java.util.Date().format( "yyyy-MM-dd")

    // Input bamfiles.
    input = "${mainDir}path/to/input/"

    // Output location.
    outfilePath = "${mainDir}out/"

    // Scripts location.
    scripts = "${mainDir}bin/"

    // Publishable output parameters.
    publishDir_mode = "copy"
    publishDir_overwrite = true
    publishDir_bamFolder = "bamFiles/"
    publishDir_covFolder = "covFiles/"
    publishDir_vcfFolder = "vcfFiles/"

    // Input references.
    referencePath = "${mainDir}references/"
    targetCallingFile = "targetCallingFile_il1mips.bed"
    targetCallingfileInclPath = "${referencePath}${targetCallingFile}"
    fastaFile = "ref_hg19.fasta"
    fastaHg19fileInclPath = "${referencePath}${fastaFile}"
    dbSnp150commonFile = "dbSnp150common_il1mipTargetRegion.txt"
    dbSnp150commonInclPath = "${referencePath}${dbSnp150commonFile}"

    // Parameters for process bamReadFilter.
    script_bamReadFilter = "PythonScript.IL1MIP-RsCh-PIPELINE.bamReadFilter.py"

    // Parameters for parseCovDepth.
    script_parseCovDepth = "PythonScript.IL1MIP-RsCh-PIPELINE.parseCovDepth.py"

    // Parameters for process coverageFilter.
    script_coverageFilter = "PythonScript.IL1MIP-RsCh-PIPELINE.coverageFilter.py"
    coverageThreshold = 100
    collectAverages_newLine = false
    collectAverage_keepHeader = true

    // Parameters for process coverageSumstats.
    script_coverageSumstats = "PythonScript.IL1MIP-RsCh-PIPELINE.coverageSumstats.py"
    collectSumstats_newLine = false
    collectSumstats_keepHeader = true

    // Parameters for process variantCalling.
    gatk_dcov = 5000
    gatk_dt = "BY_SAMPLE"
    gatk_rf = "BadCigar"
    gatk_glm = "BOTH"
    gatk_stand_call_conf = 30.0

    // Parameters for vcfQUALrarevariants.
    script_vcfQUALrarevariants = "PythonScript.IL1MIP-RsCh-PIPELINE.vcfQualRareVariants.py"

    // Parameters for process rarevariantMpileup.
    script_rarevariantMpileup = "BashScript.IL1MIP-RsCh-PIPELINE.rareVariantMpileup.sh"

    // Parameters for process preprocessMpileups.
    script_preprocessMpileups = "PythonScript.IL1MIP-RsCh-PIPELINE.preProcessMpileups.py"

    // Parameters for process parseMpileups.
    script_parseMpileups = "PerlScript.IL1MIP-RsCh-PIPELINE.pileup2baseindel.no.strand.pl"

    // Parameters for concludeMpileups.
    script_concludeMpileups = "PythonScript.IL1MIP-RsCh-PIPELINE.concludeMpileups.py"

    // Parameters for mpileupFilterVcfFinal.
    script_mpileupFilterVcfFinal = "PythonScript.IL1MIP-RsCh-PIPELINE.mpileupFilterVcfFinal.py"

}

// Singularity setting.
singularity {
    enabled = true
    cacheDir = "${mainDir}containers/"
}

// Singularity containers.
process {
    withName:bamReadFilter {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:bedtoolsCoverage {
        container = "bedtools_v2.29.2.sif"
    }
    withName:parseCovDepth {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:coverageFilter {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:coverageSumstats {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:variantCalling {
        container = "gatk3_3.8-1.sif"
    }
    withName:splitMultiAllelicSites {
        container = "bcftools_1-9_1.0.0.sif"
    }
    withName:vcfQUALrarevariants {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:rarevariantMpileup {
        container = "samtools_1.11.sif"
    }
    withName:preprocessMpileups {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:parseMpileups {
        container = "perl_5.18.4-threaded-stretch.sif"
    }
    withName:concludeMpileups {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
    withName:mpileupFilterVcfFinal {
        container = "python-v2.7-sys-np-pd-pysam.sif"
    }
}

// Manifest.
manifest {
    name = "IL1MIP-RsCh-PIPELINE"
    author = "Rosanne C. van Deuren"
    homePage = "https://github.com/RosanneVanDeuren/IL1MIP-RsCh-PIPELINE.git"
    description = "A DNA analysis pipeline for research Molecular Inversion Probe sequencing Interleukin-1 panel data"
    mainScript = "main.nf"
    version = "1.0.0"
}
